*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
    
    padding: 15px;
    display: grid;
    gap: 0px;
    grid-template-areas: 
    'header header header header'
    'sidebar content content content'
    'sidebar footer footer footer'
    
    ;
} 

.container div{
    background-color: #ccc;
    padding:20 px;
    border:1px solid blue;
}
#header{
    grid-area:header;
   
    display: flex;
    height:13vh;
    background-position-y: -50vh;
    background-image: url(./images.jfif);
    background-position: top;
    background-size: cover;
    gap: 12px;

}

h1{
    font-size: 60px;
    color: #ec6743;
    font-family: montserrat;
}
.icone{
   width: 71px;
   height: 71px;
   border-radius: 24px;
   align-items: ;
}
.pesquisa{
    
    width: 310px;
    height: 50px;
}

.cascao{
    width: 80px;
    height: 60px;
    border-radius: 120px;
   align-items: center;


}
#sidebar{
    grid-area:sidebar;
    height: 82.21vh;
    width: 40vh;
    background-color: #151415;
   background-image: url(./images.jfif);
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: ;
   z-index: -1;
   
 

}
#content{
    grid-area:content; 
    height: 46vh;
    width: 170vh;
    background-image: url(./ham.png);
    background-size: cover;
    background-position: center;
 
}

#footer{
    display: flex;   
    grid-area:footer;
    height: 36.3vh;
    background-color: white;
   gap: 80px;
}
.img1{
    width: 250px;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.img2{
    width: 280px;
    margin-bottom: 5%;
    margin-top: 5%;
}
.img3{
    width: 250px;
    margin-bottom: 5%;
    margin-top: 5%;
}
.tumbnail{
    display:flex;
    gap: 15px;
    width: 20px;
    grid-area: footer;
  
}
